textarea {
  border-radius: 4px;
  font-size: 16px;
  padding: 4px 8px;
  outline: none;
}

#app {
  min-height: 100vh;
  background-color: #252526;
  color: #e4e6eb;
}

#app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

#logo-text {
  font-size: 20px;
  font-weight: 500;
}

#app-main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 24px;
}

.app-section {
  flex-direction: column;
}

.app-section:not(:first-child) {
  margin-top: 24px;
}

.btn {
  border-radius: 4px;
  color: #e4e6eb;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  border: none;
  width: fit-content;
}

.btn:not(:disabled):hover {
  filter: brightness(0.9);
}



.placeholder-container {
  display: flex;
  justify-content: center;
}

.react-datetime-picker__inputGroup__divider {
  color: black;
}

.react-datetime-picker {
  background-color: #fff;
}

.react-emoji-picker--container {
  width: 364px;
  height: 200px;
  top: 48px;
  right: 0;
}

.emoji-mart-light {
  width: 333px;
}

.react-emoji-picker--wrapper {
  width: 355px;
  top: 5px;
  left: 0px;
}

.react-emoji {
  top: 20px;
}
